@import '../Vars.scss';

.form-box {
    width: auto;
    padding: 0 2%;

    p {
        font-size: 140%;
        font-weight: 500;
        color: black;
    }

    .form-input {
        display: flex;
        justify-content: center;
    }

    input {
        width: 70%;
        padding: 5px;
        //margin: 0 auto;
        color: $accent2;
        font-size: 130%;
        border: solid 2px $grey-blue;
        background : $gradient-black;
        box-shadow: 0 2px 8px $black;
        border-radius: 15px;
        //border: solid 2px $accent;
        //box-shadow: 0 0 8px $accent;
    }

    button {
        width: 100px;
        @include default-btn;
        font-size: 140%;
        margin-left: 10px;
    }
}

// textarea, input.text, input[type="text"], input[type="button"], input[type="submit"], .input-form {
//     -webkit-appearance: none;
//     -o-appearance: none;
//     appearance: none;
//     border-radius: 0;
//   }