@import '../Vars.scss';

.form-box {
    width: 100%;

    p {
        font-size: 150%;
        color: $black;
    }

    input {
        width: 70%;
        padding: 5px;
        //margin: 0 auto;
        font-size: 130%;
        background :linear-gradient( to bottom, rgba(34, 36, 36, 0.7) 0%, rgba(0, 0, 0, 0.15) 100%);
        //border: solid 2px $accent;
        //box-shadow: 0 0 8px $accent;
    }

    button {
        width: 27%;
        cursor: pointer;
        font-size: 130%;
        padding: 5px;
        background: linear-gradient( to bottom, rgba(23, 24, 24, 0.7) 0%, rgba(0, 0, 0, 0.15) 100%);
        border: solid 2px $accent;
        box-shadow: 0 0px 15px $accent2;

        
        color: $accent;
        &:hover {
            color: $accent2;
            background: linear-gradient( to bottom, rgba(24, 26, 26, 0.7) 0%, rgba(0, 0, 0, 0.25) 100%);

        }
    }
}