@import '../Vars.scss';

.signin-box {
    width: 300px;
    height: auto;
    margin: 50px auto;
    background: $gradient-black;
    font-size: 120%;
    padding: 10px;
    box-shadow: 0 2px 8px $black;
    border-radius: 15px;

    .form {

        p {
            color: $accent2;
            font-size: 90%;
            text-decoration: underline;
            margin: 0 auto;
            &:hover {
                opacity: 0.8;
                cursor: pointer;
            }
        }

        fieldset {
            border: solid 2px $grey;

            legend {
                color: $accent;
                font-size: 170%;
                padding: 0 10px; 
            }
            input {
                @include default-input;
                margin: 10px auto;
                margin-bottom: 20px;
            }
            label {
                font-size: 80%;
                color: $accent2;
                width: 100%;
            }
            .button {
                @include default-btn;
                font-size: 110%;
                width: 100px;
            }
        }
    }



}