@import '../Vars.scss';

.signin-box {
    width: 300px;
    height: auto;
    margin: 0 auto;
    background: $gradient-black;
    font-size: 120%;
    padding: 10px;
    padding-bottom: 10px;
    box-shadow: 0 2px 8px $black;

    form {

        a {
            color: $accent;
            font-size: 90%;
            &:hover {
                color:$accent2;
            }
        }

        fieldset {
            border: solid 2px $grey;

            legend {
                color: $accent;
                font-size: 170%;
                padding: 0 10px; 
            }
            input {
                padding: 3px;
                margin: 10px auto;
                background: $gradient-black;
                width: 100%;
                color: $accent2;
                border: solid 2px $grey-blue;
            }
            label {
                font-size: 80%;
                color: $accent2;
                width: 100%;
            }
            .button {
                @include default-btn;
                font-size: 110%;
                width: 100px;
            }
        }
    }



}