@import '../Vars.scss';

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 5px 10px $black;
    padding: 10px 2%;
    background-color: rgba(0, 0, 0, 0.3);

    nav {
        display: flex;

        p {
            @include default-btn;
            margin: 10px;
            width: auto;
            font-size: 130%;
            text-decoration: underline;
        }
    }
}