@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap');

@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Alatsi&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');

$font-sand : 'Quicksand' ; 
$font-tech : 'Share Tech Mono';//used

$font-bebas : 'Bebas Neue';
$font-nunito : 'Nunito';
$font-rubik : 'Rubik';
$font-atlatsi : 'Atlatsi';


$accent : #3db6ac;
$accent2 :  #358d7a;

$black : rgb(23, 24, 24);
$black-l : #1f2122;

$grey : #282f31;
$grey-blue : #2d4349;

$gradient-black : linear-gradient( to bottom, rgb(27, 36, 36) 0%, rgba(0, 0, 0, 0.2) 100%);
$gradient-accent : linear-gradient(to right, $accent 0%, $accent2 100%);
$gradient-grey : linear-gradient(50deg, $grey 0%, $grey-blue 100%);

@mixin default-btn {
    border: solid 2px $accent;
    border-radius: 15px;
    background: $gradient-accent;
    color: $black;
    padding: 5px;
    box-shadow: 0 1px 8px $black;
    font-family: $font-tech;

    &:hover {
        cursor: pointer;
        color: $black;
        box-shadow: inset 0 0 3px $accent2;
        border-color: $accent2;
    }
}

@mixin default-input {
    width: 90%;
    background: $gradient-black;
    padding: 5px;
    padding-left: 10px;
    background: $gradient-black;
    color: $accent;
    border: solid 2px $grey-blue;
    box-shadow: 0 2px 8px $black;
    border-radius: 15px;
}