@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

$font-sand : 'Quicksand'; 

$accent : #3fafa6;
$accent2 :  #389991;

$black : rgb(23, 24, 24);
$black-l : #1f2122;

$grey : #303638;
$grey-blue : #47565c;

