@import './components/Vars.scss';

.App {
  text-align: center;
  min-height: 100vh;
}

.particles {
  position: absolute;
  z-index: -2;
}

input:focus, label:focus, button:focus {
  outline: none;
}